[Unit]
Description=Squid caching proxy for 128T Content Filtering
After=syslog.target network.target nss-lookup.target

[Service]
Type=forking
LimitNOFILE=16384
EnvironmentFile=/etc/sysconfig/squid
EnvironmentFile=/etc/sysconfig/128T-squid-content-filter
ExecStartPre=/usr/sbin/ip netns exec $SQUID_NAMESPACE /usr/libexec/squid/cache_swap.sh
ExecStart=/usr/sbin/ip netns exec $SQUID_NAMESPACE /usr/sbin/squid $SQUID_OPTS -f $SQUID_CONF
ExecReload=/usr/sbin/ip netns exec $SQUID_NAMESPACE /usr/sbin/squid $SQUID_OPTS -k reconfigure -f $SQUID_CONF
ExecStop=/usr/sbin/squid -k shutdown -f $SQUID_CONF
TimeoutSec=0
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
